* {
    BG:    #1d1f21;
    BGA:   #6f8dab;
    FG:    #C5C8C2;
    FGA:   #cc6666;
    BDR:   #6f8dab;
    SEL:   #1d1f21;
    UGT:   #cc6666;
    IMG:   #d7bd8d;
    OFF:   #545B68;
    ON:    #a3b991;
}
