* {
    BG:    #2E3440;
    BGA:   #8FBCBB;
    FG:    #D8DEE9;
    FGA:   #BF616A;
    BDR:   #8FBCBB;
    SEL:   #2E3440;
    UGT:   #BF616A;
    IMG:   #EBCB8B;
    OFF:   #4C566A;
    ON:    #A3BE8C;
}
