* {
    BG:    #282c34;
    BGA:   #61AFEF;
    FG:    #ABB2BF;
    FGA:   #E06C75;
    BDR:   #61AFEF;
    SEL:   #282c34;
    UGT:   #E06C75;
    IMG:   #E5C07B;
    OFF:   #545862;
    ON:    #98C379;
}
