* {
    BG:    #011627;
    BGA:   #82aaff;
    FG:    #d6deeb;
    FGA:   #f78c6c;
    BDR:   #82aaff;
    SEL:   #011627;
    UGT:   #f78c6c;
    IMG:   #ffcb8b;
    OFF:   #34495a;
    ON:    #29E68E;
}
